#info {
    display: grid;
}
#info a { 
    margin: auto;
    padding: 2%;
    background-color: rgba(220,220,220,.5);
    border: .1vw solid rgb(211,211,211);
}
#info a:hover { 
    background-color: rgba(119,136,153,.3);
}