#copyright-relative {
    background: rgb(211,211,211);
    height: 2em;
    width: 100%;
    bottom: 0;
    display: grid;
    position: relative;
}
#copyright-relative p {
    margin: auto; 
    font-size: .75em;
}