html, body {
    background: rgb(255,255,255);
    font-family: sans-serif;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    display: table;
}  
h1 {
    margin: 2.5% 5%;
}
#section {
    margin: 5% auto 7.5% auto; 
}
#section h2 {
    text-align: center;
}
span {
    text-decoration: underline;
}
.italic {
    font-style: italic;
}
.gap {
    margin: auto 5%;
}
.space {
    height: 1em; 
}
a {
    color: rgb(128,128,128);
    text-decoration: none;
}
a:hover {
    color: rgb(70,130,180);
    transition: .5s;
}
h1{
    font-size: 1.6vw;
}
h2 {
    font-size: 1.4vw;
}
h3 {
    font-size: 1.2vw;
}
p, span, a {
    font-size: 1vw;
}
@media(min-width: 0px) and (max-width: 275px) {
    html, body{
        display: none;
    }
}
@media(min-height: 0px) and (max-height: 275px) {
    html, body{
        display: none;
    }
}