html, body {
    background: url(../assets/bg.jpg) fixed;
    font-family: helvetica, arial, sans-serif;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    display: table;
}  
#section {
    animation: apparition 1s linear;
}
@media(max-width: 875px) {
    #section {
        margin: 10% auto 7.5% auto; 
    }
}
@media(min-width: 875px) {
    #section {
        margin: 5% auto 7.5% auto; 
    }
}
@keyframes apparition {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
}
#section h2 {
    text-align: center;
    padding: 1%;
    background: rgba(211, 211, 211,.2);
}
#section h3 {
    text-align: center;
}
span {
    text-decoration: underline;
}
.italic {
    font-style: italic;
}
.underline {
    text-decoration: underline;
}
.gap {
    margin: auto 5%;
}
.space {
    height: 1em; 
}
a {
    color: rgb(128,128,128);
    text-decoration: none;
}
a:hover {
    color: rgb(70,130,180);
    transition: .5s;
}
li {
    font-size: 1.3vw;
}
@media(max-width: 875px) {
    h1{
        font-size: 1em;
        margin: 2.5% 5%;
    }
    h2 {
        font-size: .9em;
    }
    h3 {
        font-size: .8em;
    }
    p, a {
        font-size: .6em;
    }
}
@media(min-width: 875px) {
    h1{
        font-size: 1.7vw;
        margin: 2.5% 5%;
    }
    h2 {
        font-size: 1.5vw;
    }
    h3 {
        font-size: 1.3vw;
    }
    p, a {
        font-size: 1.1vw;
    }
}
@media(max-width: 275px) {
    html, body{
        display: none;
    }
}
@media(max-height: 275px) {
    html, body{
        display: none;
    }
}