html, body {
    background: rgb(255,255,255);
    font-family: sans-serif;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    display: table;
}  
h1 {
    margin: 2.5% 5%;
}
#section {
    margin: 5% auto; 
}
span {
    text-decoration: underline;
}
.italic {
    font-style: italic;
}