#career-list, #experiences-list, #skills-list {
    margin: 10% auto auto auto;
    display: grid;
}
#career-list img, #experiences-list img, #skills-list img {
    vertical-align: middle;
}
#experiences-list h3, #skills-list h3 {
    text-align: center;
}
.pics {
    text-align: center;
}
#licence, #dut, #bts, 
#internship2, #warehouseman, #production-worker, #internship1, 
#languages, #programming-languages, #softwares  {
    border: .1em solid rgb(211,211,211);
    width: 50%;
    margin: 2.5% auto auto auto;
    padding: 2.5% 5%;
    display: inline-block;
}