#about {
    margin: auto 25%;
    text-align: center;
}
#about img {
    margin: 5% auto auto auto;
    box-shadow: .5vw .25vw .25vw rgba(0,0,0,.1);
}
.career, .experiences, .skills, .hobbies {
    margin: 15% auto;
    display: grid;
}
@media(max-width: 500px) {
    .career, .experiences, .skills, .hobbies {
        margin: 35% auto;
    }
}
.career img, .experiences img, .skills img, .hobbies img {
    vertical-align: middle;
}
.pics {
    text-align: center;
}
#licence, #dut, #bts, 
#internship2, #warehouseman, #production-worker, #internship1, 
#languages, #programming-languages, #softwares {
    border: .1em solid rgb(211,211,211);
    width: 75%;
    margin: 2.5% auto auto auto;
    padding: 2.5% 5%;
    display: inline-block;
}