#map {
    text-align: center;
}
#informations { 
    margin: 1em auto auto auto;
    width: 15%;
    display: grid;
}
#mail, #phone, #location { 
    margin: .5em 0;
}
#mail img, #mail a, #phone img, #phone p, #location img, #location p {
    display: inline-block;
	vertical-align: middle;
}