#map {
    text-align: center;
}
#informations { 
    margin: 1em auto auto 30%;
    display: grid;
}
#mail, #phone { 
    margin: .5em 0;
}
#mail img, #phone img {
    width: 5%;
}
#mail img, #mail a, #phone img, #phone p {
    display: inline-block;
	vertical-align: middle;
}