#presentation {
    grid-template-columns: 1fr 2fr;
    display: grid;
}
#jeremie {
    margin: auto;
    text-align: center;
}

#description h3 {
    margin: 0 0 3% 5%;
}
#description {
    margin: auto 10% auto auto;
}