#presentation {
    margin: 5% auto 5% auto;
    display: grid;
    grid-template-columns: 1fr 2fr;
}
#jeremie {
    margin: auto;
    text-align: center;
}
#description {
    margin: auto 10% auto auto;
}