#diversity {
    margin: auto 25%;
    text-align: center;
}
#diversity img {
    margin: 5% auto auto auto;
}
#project-achievements, #epsi-achievements, #iut-lens-achievements, #iut-amiens-achievements {
    margin: 15% auto;
    display: grid;
}
#project-achievements img, #epsi-achievements img, #iut-lens-achievements img, #iut-amiens-achievements img {
    vertical-align: middle;
}
@media(max-width: 500px) {
    #project-achievements, #epsi-achievements, #iut-lens-achievements, #iut-amiens-achievements {
        margin: 35% auto;
    }
}
#projet-miellerie-paca, #projet-workshop-handicap, #projet-administration-customer-portal, #projet-ludotheque2, #projet-ludotheque1, #projet-qwirkle, #projet-ventes-fruits-legumes {
    border: .1em solid rgb(211,211,211);
    width: 50%;
    margin: 2.5% auto auto auto;
    padding: 2.5% 5%;
    display: inline-block;
}